<div class="button-container">
  <button (click)="generatePDF()" class="pdfButton">Generate PDF</button>
</div>

<hr />
<!-- <div>
  <div class="container" id="contentToConvert">
    <div class="left-column">
      <div class="profile-pic mb2">
        <img src="assets/images/manoshri.jpg" alt="Avatar" />
      </div>

      <h2>Personal Information</h2>

      <div class="d-flex">
        <i class="fa fa-user"> </i>
        <div>
          <strong>Name</strong>
          <p>Manoshri Chattopadhyay</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa fa-house"></i>
        <div>
          <strong>Address</strong>
          <p>Jerikoveien 67, 1067 Oslo</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa fa-phone"></i>
        <div>
          <strong>Phone</strong>
          <p>+47-96803218</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa fa-envelope"></i>
        <div>
          <strong>Email</strong>
          <p>manoshri.no&#64;gmail.com</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa-brands fa-github"></i>
        <div>
          <strong>Git</strong>
          <p>https://github.com/devmanoshri</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa-brands fa-linkedin"></i>
        <div>
          <strong>Linkedin</strong>
          <p>https://www.linkedin.com/in/manoshri-chattopadhyay/</p>
        </div>
      </div>

      <hr />

      <h2>Education</h2>

      <div class="d-flex mb1">
        <i class="fa fa-graduation-cap"></i>
        <div>
          <strong>Masters in Computer Applications</strong>
          <p>West Bengal University of Technology, India (2007 - 2010)</p>
        </div>
      </div>

      <div class="d-flex mb1">
        <i class="fa fa-graduation-cap"></i>
        <div>
          <strong>Bachelor of Science in Physics</strong>
          <p>University of Calcutta, India (2002 - 2006)</p>
        </div>
      </div>

      <hr />

      <h2>Certification</h2>
      <div class="d-flex mb1">
        <i class="fa fa-certificate"></i>
        <strong>Microsoft Azure Fundamentals <br />(AZ-900)</strong>
      </div>
      <hr />

      <h2>Soft Skills</h2>
      <ul class="box">
        <li>Strong communication</li>
        <li>Team collaboration</li>
        <li>Problem-solving</li>
        <li>Time management</li>
      </ul>
      <hr />

      <h2>Languages</h2>
      <ul class="box">
        <li>English (Professional)</li>
        <li>Norwegian (B1)</li>
        <li>Bengali (Native)</li>
      </ul>
      <hr />
      <h2>Interests</h2>
      <ul class="box">
        <li>Baking</li>
        <li>Indian music,</li>
        <li>Traveling</li>
      </ul>
      <hr />
      <h2>References</h2>
      <p class="mb3">
        <i class="fa-solid fa-clipboard-user"></i>Available upon request
      </p>
    </div>

    <div class="right-column">
      <h1>MANOSHRI CHATTOPADHYAY</h1>

      <h2>
        <span class="heading-icon"
          ><i class="fa-solid fa-clipboard-list"></i></span
        >Professional Summary
      </h2>

      <p>
        A proficient web developer with over 5 years of experience in PHP-MySQL
        and related web technologies. Currently expanding expertise in modern
        web technologies, including Angular, TypeScript, JavaScript, React,
        HTML, CSS, Git, GitHub, and cloud platforms. Has experience in creating
        responsive websites, e-commerce solutions, custom content management
        systems etc. Known for a strong work ethic, effective problem-solving
        skills, and the ability to excel in dynamic, collaborative team
        environments.
      </p>
      <hr />

      <h2>
        <span class="heading-icon"><i class="fa-solid fa-desktop"></i></span
        >Core Skills
      </h2>
      <div class="image-container">
        <div>
          <img src="assets/images/angular-icon.png" alt="Angular" />
          <p>Angular</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/typescript.png" alt="Typescript" />
          <p>Typescript</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/javascript.png" alt="Javascript" />
          <p>Javascript</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/html5.png" alt="HTML5" />
          <p>HTML5</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/css3.png" alt="CSS3" />
          <p>CSS3</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <! -- <div>
          <img src="assets/images/jest.png" alt="Jest" />
          <p>Jest</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div> -- >
        <div>
          <img src="assets/images/nodejs.png" alt="NodeJS" />
          <p>NodeJS</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/bootstrap.png" alt="Bootstrap" />
          <p>Bootstrap</p>
        </div>
        <div>
          <img src="assets/images/microsoft-azure.png" alt="MS Azure" />
          <p>MS Azure</p>
        </div>
        <div>
          <img src="assets/images/wordpress-blue.png" alt="Wordpress" />
          <p>Wordpress</p>
        </div>
        <div>
          <img src="assets/images/github.png" alt="GitHub" />
          <p>GitHub</p>
        </div>
      </div>

      <hr />

      <h2>
        <span class="heading-icon"
          ><i class="fa-solid fa-computer-mouse"></i></span
        >Professional Experience
      </h2>
      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>Arbeid og Kommunikasjon, Oslo, Norway (A2 - B1 level)</h3>
          <div class="blue-text mb1">August 2023 - February 2024</div>
          <p class="mb3">
            Undertook intensive courses to enhance Norwegian language
            proficiency, focusing on oral communication to facilitate better
            integration into the Norwegian work environment.
          </p>
        </div>
      </div>

      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>KIA ABC NORSKKURS, Oslo, Norway (A1 - A2 level)</h3>
          <div class="blue-text mb1">February 2023 - June 2023</div>
          <p class="mb3">
            This language course focuses on levels A1 to A2 in Norwegian. It
            gradually introduced me with the language structures and I have
            learned there basic vocabulary and grammar.
          </p>
        </div>
      </div>

      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>Web Developer (Freelancer)</h3>
          <div class="blue-text mb1">April 2017 - May 2021</div>
          <ul class="box mb3">
            <li>
              Developed and maintained websites and web applications for a
              diverse range of clients, including e-commerce platforms and
              content management systems.
            </li>
            <li>
              Utilised HTML, CSS, JavaScript, and PHP to create responsive,
              user-friendly web pages.
            </li>
            <li>
              Integrated Git and GitHub into development workflows for effective
              version control and collaboration.
            </li>

            <li>
              Gained hands-on experience with cloud services, including
              deploying applications on various platforms.
            </li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>Web Developer - National Informatics Centre, Kolkata, India</h3>
          <div class="blue-text mb1">August 2013 - March 2017</div>
          <ul class="box mb3">
            <li>
              Played a key role in developing and maintaining government web
              portals, such as the Criminal Investigation Department’s (CIDWB)
              website and the National Tracking System for Missing and
              Vulnerable Children.
            </li>
            <li>
              Employed HTML, CSS, JavaScript, jQuery, PHP, and PostgreSQL for
              development and maintenance.
            </li>
            <li>
              Responsible for bug fixing, testing new features, and ensuring web
              accessibility.
            </li>
            <li>
              Deployed applications to production servers and collaborated with
              cross-functional teams to maintain system integrity.
            </li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>
            Web Developer - Matrix Media Solutions (P) Ltd., Kolkata, India
          </h3>
          <div class="blue-text mb1">October 2011 - July 2013</div>
          <ul class="box mb3">
            <li>
              Developed and maintained content-based websites using HTML,
              JavaScript, PHP, MySQL, and the Joomla framework.
            </li>

            <li>
              Collaborated with the design team to implement user-friendly
              features and ensure basic web accessibility.
            </li>
            <li>
              Conducted testing of new features and managed deployment to live
              servers.
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <h2>
        <span class="heading-icon"><i class="fa-solid fa-file-lines"></i></span
        >Personal Characteristics
      </h2>
      <ul class="box">
        <li>
          Highly adaptable and quick to learn, capable of managing stress and
          multitasking efficiently.
        </li>
        <li>
          Enthusiastic about working in collaborative, dynamic environments
          while maintaining a goal- focused approach.
        </li>
        <li>
          Strong communication skills with a proven ability to meet deadlines
          and deliver high-quality results under pressure.
        </li>
      </ul>
    </div>
  </div>
</div> -->

<div>
  <div class="container" id="contentToConvert">
    <div class="left-column">
      <div class="profile-pic mb2">
        <img src="assets/images/manoshri.jpg" alt="Avatar" />
      </div>

      <h2>Personlig informasjon</h2>

      <div class="d-flex">
        <i class="fa fa-user"> </i>
        <div>
          <strong>Navn</strong>
          <p>Manoshri Chattopadhyay</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa fa-house"></i>
        <div>
          <strong>Adresse</strong>
          <p>Jerikoveien 67, 1067 Oslo</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa fa-phone"></i>
        <div>
          <strong>Telefon</strong>
          <p>+47-96803218</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa fa-envelope"></i>
        <div>
          <strong>E-post</strong>
          <p>manoshri.no&#64;gmail.com</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa-brands fa-github"></i>
        <div>
          <strong>GitHub</strong>
          <!-- <p><a href="https://github.com/devmanoshri"> devmanoshri</a></p>  -->
          <p>https://github.com/devmanoshri</p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fa-brands fa-linkedin"></i>
        <div>
          <strong>Linkedin</strong>
          <p>
            <!-- <a href="https://www.linkedin.com/in/manoshri-chattopadhyay/">
              Manoshri Chattopadhyay</a
            > -->
            https://www.linkedin.com/in/manoshri-chattopadhyay/
          </p>
        </div>
      </div>

      <hr />

      <h2>Utdanning</h2>

      <div class="d-flex mb1">
        <i class="fa fa-graduation-cap"></i>
        <div>
          <strong>Master i Dataapplikasjoner</strong>
          <p>West Bengal University of Technology, India (2007 - 2010)</p>
        </div>
      </div>

      <div class="d-flex mb1">
        <i class="fa fa-graduation-cap"></i>
        <div>
          <strong>Bachelor i Fysikk</strong>
          <p>University of Calcutta, India (2002 - 2006)</p>
        </div>
      </div>

      <hr />

      <h2>Sertifisering</h2>
      <div class="d-flex mb1">
        <i class="fa fa-certificate"></i>
        <strong>Microsoft Azure Fundamentals <br />(AZ-900)</strong>
      </div>
      <hr />

      <h2>Myke ferdigheter</h2>
      <ul class="box">
        <li>Gode kommunikasjonsevner</li>
        <li>Samarbeidsevne</li>
        <li>Problemløsning</li>
        <li>Tidsstyring</li>
      </ul>
      <hr />

      <h2>Språk</h2>
      <ul class="box">
        <li>Engelsk (Profesjonelt)</li>
        <li>Norsk (B1)</li>
        <li>Bengali (Morsmål)</li>
      </ul>
      <hr />
      <h2>Interesser</h2>
      <ul class="box">
        <li>Baking</li>
        <li>Indisk musikk</li>
        <li>Reise</li>
      </ul>
      <hr />
      <h2>Referanser</h2>
      <p class="mb3">
        <i class="fa-solid fa-clipboard-user"></i>Tilgjengelig på forespørsel
      </p>
    </div>

    <div class="right-column">
      <h1>MANOSHRI CHATTOPADHYAY</h1>

      <h2>
        <span class="heading-icon"
          ><i class="fa-solid fa-clipboard-list"></i></span
        >Profesjonell Profil
      </h2>

      <p>
        En dyktig webutvikler med over 5 års erfaring innen PHP-MySQL og
        relaterte webteknologier. Utvider nå kompetansen innen moderne
        webteknologier som Angular, TypeScript, JavaScript, React, HTML, CSS,
        Git, GitHub og skyløsninger. Har erfaring med å lage responsive
        nettsider, e-handelsløsninger, tilpassede innholdsstyringssystemer.
        Kjent for sterk arbeidsmoral, effektive problemløsningsevner og evnen
        til å prestere i dynamiske og samarbeidende teammiljøer.
      </p>
      <hr />

      <h2>
        <span class="heading-icon"><i class="fa-solid fa-desktop"></i></span
        >Kjernekompetanse
      </h2>
      <div class="image-container">
        <div>
          <img src="assets/images/angular-icon.png" alt="Angular" />
          <p>Angular</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/typescript.png" alt="Typescript" />
          <p>Typescript</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/javascript.png" alt="Javascript" />
          <p>Javascript</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/html5.png" alt="HTML5" />
          <p>HTML5</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/css3.png" alt="CSS3" />
          <p>CSS3</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <!-- <div>
          <img src="assets/images/jest.png" alt="Jest" />
          <p>Jest</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div> -->
        <div>
          <img src="assets/images/nodejs.png" alt="NodeJS" />
          <p>NodeJS</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div>
          <img src="assets/images/bootstrap.png" alt="Bootstrap" />
          <p>Bootstrap</p>
        </div>
        <div>
          <img src="assets/images/microsoft-azure.png" alt="MS Azure" />
          <p>MS Azure</p>
        </div>
        <div>
          <img src="assets/images/wordpress-blue.png" alt="Wordpress" />
          <p>Wordpress</p>
        </div>
        <div>
          <img src="assets/images/github.png" alt="GitHub" />
          <p>GitHub</p>
        </div>
      </div>

      <hr />

      <h2>
        <span class="heading-icon"
          ><i class="fa-solid fa-computer-mouse"></i></span
        >Arbeidserfaring
      </h2>
      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>Arbeid og Kommunikasjon, Oslo, Norway (A2 - B1 nivå)</h3>
          <div class="blue-text mb1">August 2023 - Februar 2024</div>
          <p class="mb3">
            Forbedret norskferdigheter med fokus på muntlig kommunikasjon for å
            integrere bedre i norsk arbeidsmiljø.
          </p>
        </div>
      </div>

      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>KIA ABC NORSKKURS, Oslo, Norway (A1 - A2 nivå)</h3>
          <div class="blue-text mb1">Februar 2023 - Juni 2023</div>
          <p class="mb3">
            Opparbeidet grunnleggende ordforråd og grammatikk, med introduksjon
            til norske språklige strukturer.
          </p>
        </div>
      </div>

      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>Webutvikler (Freelancer)</h3>
          <div class="blue-text mb1">April 2017 - Mai 2021</div>
          <ul class="box mb3">
            <li>
              Designet og vedlikeholdt nettsteder og webapplikasjoner for ulike
              klienter, inkludert e-handelsplattformer og CMS-systemer.
            </li>
            <li>
              Brukte HTML, CSS, JavaScript og PHP for å lage responsive og
              brukervennlige nettsider.
            </li>
            <li>Integrerte Git og GitHub for versjonskontroll og samarbeid.</li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>Webutvikler – National Informatics Centre, Kolkata, India</h3>
          <div class="blue-text mb1">August 2013 - Mars 2017</div>
          <ul class="box mb3">
            <li>
              Spilt en nøkkelrolle i å utvikle og vedlikeholde statlig web
              portaler, for eksempel Criminal Investigation Department (CIDWB)
              nettstedet og det nasjonale sporingssystem for savnede og Sårbare
              barn.
            </li>
            <li>
              Brukte HTML, CSS, JavaScript, jQuery, PHP og PostgreSQL for
              utvikling og vedlikehold.
            </li>
            <li>
              Ansvarlig for feilretting, testing av nye funksjoner, og å sikre
              tilgjengelighet.
            </li>
            <li>
              Samarbeidet med tverrfaglige team og distribuert applikasjoner til
              produksjonsservere.
            </li>
          </ul>
        </div>
      </div>

      <div class="timeline">
        <div><span class="dot"></span></div>
        <div>
          <h3>Webutvikler – Matrix Media Solutions (P) Ltd., Kolkata, India</h3>
          <div class="blue-text mb1">Oktober 2011 - Juli 2013</div>
          <ul class="box mb3">
            <li>
              Designet og vedlikeholdt innholdsbaserte nettsteder med HTML,
              JavaScript, PHP og Joomla.
            </li>

            <li>
              Samarbeidet med designteamet for å implementere brukervennlige
              funksjoner og sikre grunnleggende webtilgjengelighet.
            </li>
            <li>
              Gjennomførte testing av nye funksjoner og håndterte utrulling til
              produksjonsservere.
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <h2>
        <span class="heading-icon"><i class="fa-solid fa-file-lines"></i></span
        >Personlige egenskaper
      </h2>
      <ul class="box">
        <li>Høy tilpasningsevne og rask til å lære nye ferdigheter.</li>
        <li>
          Effektiv stressmestring og evne til å håndtere flere oppgaver
          samtidig.
        </li>
        <li>
          Entusiastisk for samarbeid i dynamiske miljøer med målrettet fokus.
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <app-accordion></app-accordion> -->
