@import "@fortawesome/fontawesome-free/css/all.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #343434;
  background-color: #f1f1f1;
}

.d-flex {
  display: flex;
}

.mb1 {
  margin-bottom: 8px;
}

.mb2 {
  margin-bottom: 16px;
}

.mb3 {
  margin-bottom: 24px;
}

.blue-text {
  color: #416690;
  font-weight: 600;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 24px;
  font-weight: 600;
}

h3 {
  letter-spacing: 0.5px;
  font-size: 18px;
  margin-bottom: 8px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 24px 0;
}

h2 {
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 16px;

  > span.heading-icon {
    display: inline-block;
    border: 1px solid #343434;
    font-size: 18px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
    margin-right: 16px;
    border-radius: 100%;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
  max-width: 1240px;
  height: 1754px;
  background-color: #fff;
}

.left-column {
  padding: 20px;
  background-color: #416690;
  color: #fff;

  .profile-pic {
    text-align: center;
    margin: 16px 0 24px;
  }
  .profile-pic img {
    border-radius: 50%;
    width: 190px;
    height: 190px;
  }
  strong {
    display: block;
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 16px;
  }

  .fa,
  .fa-brands,
  .fa-solid {
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
    margin-top: 2px;
  }
  ul li {
    list-style-type: none;
    position: relative;
    &::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 4px;
      margin-right: 8px;
      content: "\f111";
      position: absolute;
      top: 7px;
      left: -10px;
    }
  }
}

.right-column {
  padding: 24px 40px;
}

.image-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
  gap: 16px;

  img {
    height: 50px;
    width: auto;
  }
  p {
    font-size: 14px;
    font-weight: 600;
  }
}

ul.box {
  list-style-type: square;
  padding-left: 24px;
  li {
    margin-bottom: 8px;
  }
}

.rating {
  margin-top: 8px;
  color: #416690;
  font-size: 12px;
}

.timeline {
  display: flex;
  gap: 37px;
  border-left: 1px solid #ccc;
  margin-left: 19px;

  div {
    position: relative;
    span.dot {
      display: inline-block;
      position: absolute;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: #fff;
      border: 1px solid #416690;
      top: 4px;
      left: -6px;
      z-index: 3;
    }
  }
}

.button-container {
  margin-top: 20px;
  text-align: center;
}
.pdfButton {
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {
  background-color: #fff;
}
